
header {
    
    background-color: #e6dede;
    padding: 10px 0;
    text-align: center;
    margin-top: 0;
    position: relative
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}


nav a: {
  font-size: 25px;       /* Tamanho da fonte */
  color: brown;        /* Cor do texto (laranja) */
  font-weight: bold;     /* Deixa o texto em negrito */
  text-decoration: none; /* Remove o sublinhado */
}

nav a:hover {
  color: darkorange; /* Cor do texto ao passar o mouse (laranja escuro) */
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url();
    background-color: #e6dede;
    margin: 0;
    padding: 0 20px;      
    font-size: 12px;
    color: #0c0c0c;
    font-family: 'Franklin Gothic Medium', sans-serif;
    }





    h1 {
        color: black;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-weight: bold;
        text-align: start;    
    }

    h2 {
        color: #AD9BBF;
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-weight: bold;
        text-align: center;    
    }
    
#links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: center;
}

.link-item {
  text-decoration: none;
  cursor: pointer;
}

.link-item h2 {
  margin: 0;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  white-space: nowrap;
  transition: transform 0.2s;
}

.link-item h2:hover {
  transform: scale(1.05);
}

#poesia-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.3;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  white-space: pre-line;
  font-style: italic;


}

#poesia-container p {
  margin-top: 48px; /* espaço entre título e versos */
}

#poesia-container h3 {
  font-weight: bold;
  margin-bottom: 24px;
}

footer {
  background-color: #f6f7f8; /* azul escuro masculino */
  color: #0c0c0c;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

footer h2 {
  color: #201f1f; /* azul vibrante */
  font-size: 24px;
  margin-bottom: 16px;
}

footer p {
  margin-bottom: 16px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 12px;
  transition: color 0.3s ease;
}

footer a.email {
  color: #d62828; /* vermelho discreto */
}

footer a.email:hover {
  color: #ffffff; /* fonte branca ao passar o mouse */
}

footer a.whatsapp {
  color: #2a9d8f; /* verde forte */
}

footer a.whatsapp:hover {
  color: #ffffff; /* fonte branca ao passar o mouse */
}

.foto-footer img {
  width: 100px; /* tamanho menor */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

